#product-page {
  .content {
    background-color: rgba(235, 236, 235, 0.945);
    height: 100%;
    .product-img-container {
      text-align: center;
      // background-color: white;
      // box-shadow: 0vw 1.3vw 2.6vw 0vw rgb(0, 0, 0, 0.5);
      // height: 100vw;
      // width: 100vw;
      // position: relative;
      // right: 50%;
      // bottom: 20%;
      // border-bottom-left-radius: 50%  50%;
      // border-bottom-right-radius: 50%  50%;
      .product-title {
        font-size: 6.2vw;
        font-weight: 500;
        color: rgb(151, 146, 146);
        margin-top: 0;
        padding-top: 4vw;
      }
      .product-img {
        height: 30vw;
        margin-bottom: 10vw;
      }
    }

    .info-table  {
      background-color: white;
      box-shadow: 0vw 0.2vw 0.5vw 0vw rgb(0, 0, 0, 0.5);
      border-radius: 4vw;
      min-height: 40vw;
      width: 80vw;
      margin: 10vw auto 0 auto;
      .title {
        text-align: center;
        margin: 0;
        border-radius: 4vw 4vw 3vw 3vw;
        font-size: 4.8vw;
        font-weight: 400;
        color: rgb(109, 108, 108);
        box-shadow: 0vw 1.3vw 2.6vw 0vw rgb(0, 0, 0, 0.5);
        height: 8vw;
        padding-top: 1.2vw;
      }
      .value-container {
        padding: 5vw 7vw 5vw 7vw;
        .info {
          font-size: 3.7vw;
          font-weight: 400;
          color: rgb(109, 108, 108);
        }
        .info-line {
          margin-top: 0.8vw;
          margin-bottom: 0.8vw;
          .info {
            font-size: 3.7vw;
            font-weight: 400;
            color: rgb(109, 108, 108);
          }
          .value {
            float: right;
            font-size: 3.7vw;
            font-weight: 500;
            color: rgb(70, 206, 29);
          }
        }
      }
    }

    .purchase-area {
      width: 100%;
      text-align: center;
      margin-top: 7vw;
      margin-bottom: 7vw;
      .price {
        margin: 0;
        font-size: 10vw;
        font-weight: 800;
        color: rgb(70, 206, 29);
      }
      .sign {
        margin: 0;
        font-size: 9vw;
        font-weight: 800;
      }
      .amount-selector {
        .sign {
          display: inline-block;
        }
        .amount {
          display: inline-block;
          margin: 0 auto 0 auto;
          width: 15vw;
          font-size: 8vw;
          font-weight: 800;
          color: rgb(26, 87, 7);
          // padding: 2vw;
          // background-color: white;
          // border-radius: 2vw;
        }
      }
    }
  }
}