<div id="cart-modal">

  <h2 class="title">{{title}}</h2>

  <!-- CASE WHERE THERE IS AT LEAST ONE PRODUCT IN CART -->
  <div *ngIf="productsInCart.length > 0">
    <div class="product" *ngFor="let product of productsInCart">
      <div class="image-container">
        <img class="image right-margin" src="{{product.image}}">
      </div>

      <div class="all-text">
        <p class="text-line">
          <span class="light-black right-margin">{{product.name}}</span>
          <span class="bold-black">{{product.weight}}</span>
          <span class="bold-black"> kg</span>
        </p>
        <p class="text-line">
          <span class="light-black right-margin">Τιμή κιλού: </span>
          <span class="bold-black">{{product.price}}</span>
        </p>
      </div>
    </div>

    <div class="button-container">
      <cta-button [label]="confirmButtonLabel" [disabled]="false" (onClick)="openOrderModal()">
      </cta-button>
    </div>
  </div>

  <!-- CASE WHERE THERE ARE NO PRODUCTS IN CART -->
  <div *ngIf="productsInCart.length == 0" class="empty-cart"> 
    <p class="regular-text">{{emptyCartText}}</p>

    <div class="button-container">
      <cta-button [label]="exitButtonLabel" [disabled]="false" (onClick)="dismiss()">
      </cta-button>
    </div>
  </div>
</div>