#cart-modal {
  min-height: 100%;
  background-color: rgba(235, 236, 235, 0.945);
  overflow: scroll;
  padding-bottom: 10vw;

  .title {
    text-align: center;
    margin-bottom: 7vw; 
    font-size: 6vw;
    font-weight: 500;
    color: rgb(88, 87, 87);
  }

  .bold-black {
    font-size: 4vw;
    font-weight: 800;
    color: rgb(12, 12, 12);
  }
  .light-black {
    font-size: 4vw;
    font-weight: 400;
    color: rgb(12, 12, 12);
  }
  .right-margin {
    margin-right: 3vw;
  }


  .product {
    display: flex;
    padding: 2vw 5vw;
    .image-container {
      display: inline-block;
      width: 25vw;
      .image {
        display: inline-block;
        width: 21vw;
      }
    }

    .all-text {
      display: inline-block;
      width: 60vw;
      vertical-align: middle;
      margin-top: auto;
      margin-bottom: auto;
      .text-line {
        display: inline-block;
        width: 60vw;
        margin: 0;
      }
    }
  }

  .button-container {
    width: 100%;
    text-align: center;
  }
}