<!--  [ngStyle]="{'background-image': 'url(' + bgImage + ')'}" -->
<div id="dashboard">

  <div class="logo-container">
    <img class="logo-top" src="{{logoBg}}">
  </div>


  <div *ngIf="loadingComplete" class="horizontal-scroll">
    <category-button *ngFor="let cat of categoryList" [name]="cat.greek" [icon]="cat.icon" 
       (click)="openCategory(cat.id, cat.page_title)">
    </category-button>
  </div>

  <div class="card-container">
    <p class="cards-title">{{suggestedProductsTitle}}</p>
    <div *ngIf="loadingComplete" class="horizontal-scroll">
      <product-card *ngFor="let prod of suggestedProducts" [name]="prod.name" [image]="prod.image" 
         [price]="prod.pricePerWeight" (click)="openCategory(prod.id)">
      </product-card>
    </div>
  </div>

  <div class="card-container">
    <p class="cards-title">{{weeklyOffersTitle}}</p>
    <div *ngIf="loadingComplete" class="horizontal-scroll">
      <product-card *ngFor="let prod of weeklyOffers" [name]="prod.name" [image]="prod.image" 
         [price]="prod.pricePerWeight" (click)="openCategory(prod.id)">
      </product-card>
    </div>
  </div>

</div>