#dashboard {
  // text-align: center;
  height: 100%;

  .logo-container {
    height: 60vw;
    .logo-top {
      position: absolute;
      top: -40%;
      left: -15%;
      min-width: 130vw;
    }
  }

  
  .category-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    // margin-top: ;
    // margin: 15vw 5.5vw 0 5.5vw;
    // padding: 6vw 0 6vw 0;
    // background-color: var(--kos-brown);
    // border: 1vw solid var(--kos-yellow);
    // border-radius: 3vw;
  }
}
