<!--  [ngStyle]="{'background-image': 'url(' + bgImage + ')'}" -->
<div id="dashboard">

  <div class="logo-container">
    <img class="logo-top" src="{{logoBg}}">
  </div>

  <category-list></category-list>

  <!-- FIXME : DELETE ALL THESE MAYBE -->
  <!-- <div *ngIf="loadingComplete" class="horizontal-scroll">
    <category-button *ngFor="let cat of categoryList" [name]="cat.greek" [icon]="cat.icon" 
       (click)="openCategory(cat.id, cat.page_title)">
    </category-button>
  </div> -->

  
  <div class="card-container" *ngIf="loadingComplete && weeklyOffers" >
    <p class="cards-title">{{weeklyOffersTitle}}</p>
    <div class="horizontal-scroll">
      <product-card *ngFor="let prod of weeklyOffers; let i = index" [small]="false" [product]="prod.product" [dayIndex]="i">
      </product-card>
    </div>
  </div>

  <div class="card-container" *ngIf="loadingComplete && suggestedProducts">
    <p class="cards-title">{{suggestedProductsTitle}}</p>
    <div class="horizontal-scroll">
      <product-card *ngFor="let prod of suggestedProducts" [small]="false" [product]="prod.product">
      </product-card>
    </div>
  </div>
</div>