#dashboard {
  // text-align: center;
  height: 100%;
  background-color: lightgray;

  .horizontal-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
  }

  .logo-container {
    height: 60vw;
    .logo-top {
      position: absolute;
      top: -40%;
      left: -15%;
      min-width: 130vw;
    }
  }

  
  .category-container {

  }
}
