
#category-button {
    width: 80vw;
    height: 14vw;
    margin: 5vw auto 0 auto;
    background-color: white;
    // border: 0.4vw solid #f89513;
    border-radius: 4vw;
    text-align: center;
    .element-container {
        margin-top: auto;
        margin-bottom: auto;
        .name {
            display: inline-block;
            margin: 0;
            font-size: 6vw;
            font-weight: 900;
            color: var(--kos-green);
            // font-family: "Arial", Times, serif;
        }
        // .forward-icon {
        //     display: inline-block;
        //     font-size: 8vw;
        //     color: #ff0000;
        //     position: relative;
        //     top: 1.6vw;
        // }
        .arrow-icon {
            // display: inline-block;
            // float: right;
            width: 4vw;
        }
    }
}
