
#category-button {
    text-align: center;
    display: inline-block;
    width: 25vw;
    .icon {
        width: 22vw;
    }

    .name {
        font-size: 2.8vw;
        font-weight: 400;
        color: #36454f;
    }
}
