#main-product-card {
  .card-container {
    height: 30vw;
    width: 30vw;
    
    .weight {
      display: inline-block;
      color: grey;
      font-size: 3vw;
      font-weight: 300;
    }
    .price {
      // display: inline-block;
      float: right;
      color: lawngreen;
      font-size: 3.5vw;
      font-weight: 500;
    }
    .image {
      width: 22vw;
    }

    .like-icon {
      width: 2.5vw;
      float: right;
    }
  }

  .name {
    color: grey;
    font-size: 3.5vw;
    font-weight: 400;
  }
}