#order-modal {
  // height: 100%;
  background-color: rgba(235, 236, 235, 0.945);

  .title {
    text-align: center;
    margin-bottom: 7vw; 
    font-size: 6vw;
    font-weight: 500;
    color: rgb(88, 87, 87);
  }

  .form-container {
    width: 100%;
    // display: flex;
    // text-align: center;
    .input-wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 90vw;
      // height: 17vw;
      // border: 0.35vw solid rgb(172, 166, 166);
      // border-radius: 1.5vw;
      .label {

      }
      .input {

      }
    }
    .name {

    }
  }
}