#custom-header {
  height: 17vw;
  background-color: rgb(18, 99, 54);
  .icon-container {
    height: inherit;
    width: fit-content;
    display: inline-flex;
    .logo-icon {
      width: 13vw;
      vertical-align: middle;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5vw;
    }
  }
}