
.container {
  text-align: center;
  .title1 {
    font-size: 6vw;
    font-weight: 700;
    color: #8f4012;
    margin: 0;
  }
  .title2 {
    font-size: 65.4w;
    font-weight: 700;
    color: #8f4012;
    margin: 0;
  }
}
