#custom-footer {
  display: flex;
  text-align: center;
  height: 9.5%;
  background-color: rgb(18, 99, 54);
  .footer-grid {
    margin: auto;
    ion-row {
      ion-col {
        display: flex;
        text-align: center;
        .icon {
          margin: auto;
          color: white
        }
      }
    }
  }
}