<div id="custom-footer">
  <ion-grid class="footer-grid">
    <ion-row>
      <!-- FIXME : set up correct structure here sometime -->
      <!-- <ion-col>
        <img src="{{likeIcon}}" class="icon">
      </ion-col>

      <ion-col>
        <img src="{{cartIcon}}" class="icon">
      </ion-col>

      <ion-col>
        <img src="{{homeIcon}}" class="icon">
      </ion-col>

      <ion-col>
        <img src="{{expandIcon}}" class="icon">
      </ion-col>

      <ion-col>
        <img src="{{logoIcon}}" class="icon">
      </ion-col> -->

      <ion-col *ngFor="let col of columnArray;" (click)="openLink(col.link)">
        <img *ngIf="col.icon" src="{{col.icon}}" class="icon" style.width="{{col.size}}">
        <ion-icon *ngIf="col.ionIcon" [name]="col.ionIcon" [color]="white" class="icon"
          style.fontSize="{{col.size}}"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>