#custom-footer {
  height: 17vw;
  background-color: rgb(2, 107, 2);
  .footer-grid {
    ion-row {
      ion-col {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}